:root {
  /* Developer div */
  --github-icon-height: 20px;
  --github-icon-width: 20px;
  --github-font-color: linear-gradient(
    90deg,
    rgba(214, 123, 3, 1) 10%,
    rgba(214, 141, 3, 1) 20%,
    rgba(249, 235, 22, 1) 30%,
    rgba(109, 161, 65, 1) 40%,
    rgba(56, 196, 152, 1) 50%,
    rgba(30, 84, 190, 1) 60%,
    rgba(149, 28, 204, 1) 70%,
    rgba(201, 37, 137, 1) 80%,
    rgba(219, 13, 83, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );

  /* Dimensions */
  --icon-height: 25px;
  --icon-width: 25px;
  --logo-height: 50px;
  --logo-width: 50px;

  /* Gaps */
  --icon-icon-gap: 10px;
  --icon-text-gap: 10px;
  --sidebar-row-gap: 0px;
  --task-card-row-gap: 10px;

  /* Font */
  --font-white: rgba(240, 240, 240, 1);
  --font-black: rgba(32, 33, 36, 1);

  /* Colors */
  --border-color-main: rgba(0, 0, 0, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
}

li {
  list-style-type: none;
}

.header {
  padding: 10px 20px;
  background-image: url('./assets/img/header.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: var(--icon-text-gap);
  color: var(--font-white);
}

.logo-icon {
  height: var(--logo-height);
  width: auto;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.sidebar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--icon-text-gap);
  padding: 10px 15px 10px 15px;
}

.task-count {
  margin-left: auto;
}

.separation {
  height: 1px;
  background-color: var(--border-color-main);
  margin: 5px 15px 5px 15px;
}

.sidebar-settings {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidebar-icon {
  height: var(--icon-height);
  width: auto;
}

.span-plus {
}

input[type='text'],
input[type='date'],
button,
textarea {
  appearance: none;
  border: none;
  outline: none;
}

#add-project {
  font-size: 1rem;
}

.task-container {
  grid-column: 2 / -1;
  margin-top: 50px;
}

/* Github link */

.developer {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.copyright {
  font-size: 0.85rem;
  color: var(--font-white);
}

.github-link {
  font-family: 'Caveat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  background: var(--github-font-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.github-logo {
  height: var(--github-icon-height);
  width: auto;
  position: absolute;
  left: 65px;
  opacity: 0.9;
  transition: transform 0.4s ease-in-out;
}

.github-logo:hover {
  transform: rotate(720deg);
}
